#slOpts {
	width: auto;
	height: 350px;
	overflow-y: auto;
}

#slOpts h5 {
	display: block;
	color: #333;
	width: auto;
	background-color: #ff8;
	padding: 4px;
	margin: 4px;
	border-radius: 6px;
}

#slOpts p {
	font-size: 10px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.xyzButton {
	height: 40px;
	width: 40px;
	padding: 0px;
}

#renderArea {
	width: 500px;
	height: 500px;
	border: 5px solid #eee;
	background-color: #fff;
	border-radius: 4px;
}

#console {
	height: 200px;
	width: auto;
	overflow-y: auto;
	text-align: left;
	background-color: #ddd;
	padding: 10px;
	font-size: 10px;
}

#console p {
	margin-top: 0px;
	margin-bottom: 0px;
}

#mainStatus {
	width: auto;
	margin: 10px;
}

.pf {
	white-space: pre;
}
